*
!.github/
!.github/**
!src/
!src/**
!tests/
!tests/**

!.gitignore
!.gitattributes
!.npmrc
!.prettierrc
!.prettierignore
!.eslintrc.js
!.editorconfig
!.tsconfig.json
!.tsconfig.build.json
!package.json
!Makefile
!README.md
!SECURITY.md
!LICENSE
!bun.lock*
